.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.header {
    &>div:first-child {
        padding-bottom: 20px;
    }
}

.node-form {
    padding: 0 120px;
}

.node-name {
    width: 140px;
    padding-bottom: 20px;

    &>span:first-child {
        display: block;
        margin-block-end: 15px;
    }
}